* {
  box-sizing: border-box;
  font-family: Madimi One, sans-serif;
  margin: 0;
  padding: 0;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100%;
  background-color: hsl(44, 46%, 92%);
  background-image: url('./background/HP_Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

button {
  margin: 3px;
  background-color: white;
  color: #669c35;
  border: 1vmin solid #669c35;
  border-radius: 2vmin;
  font-size: 10px;
  outline: none;
  font-weight: bold;
}

.button:hover:hover {
  background-color: light #666100;
  color: gray;
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 78px;
  text-align: center;
}

h2 {
  font: 36px;
  text-align: center;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
  color: #666100;
  font-size: 50px;
}

#new-game {
  text-align: center;
  margin-top: -20px;
  color: #666100;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
  text-align: center;
  margin: 20px auto 0;
}

#letters button {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: antiquewhite
}

#replay-button {
  background-color: burlywood;
  font-family: Madimi One, sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 20px;
  margin-top: 20px;
}