* {
  box-sizing: border-box;
  font-family: Madimi One, sans-serif;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: auto;
  width: auto;
  display: center;
  background-color: #f4efe1;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-size: contain;
}

button {
  margin: 3px;
  background-color: white;
  color: #669c35;
  border: 1vmin solid #669c35;
  border-radius: 2vmin;
  font-size: 10px;
  outline: none;
  font-weight: bold;
}

button:hover {
  background-color: light #666100;
  color: gray;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 78px;
  text-align: center;
}

h2 {
  font: 36px;
  text-align: center;
}

/* .harry-img-container {
background-size: cover;
background-position: center;
margin: auto;
opacity: 1; */
/* } */
.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: bold;
  color: #666100;
  font-size: 50px;
}

#new-game {
  text-align: center;
  margin-top: 20px;
}

#letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
  text-align: center;
  margin: auto
}

#letters button {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #669c35;
  cursor: pointer;
  text-align: center;
}

#replay-button {
  background-color: beige;
  font-family: Arial;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}